.title {
  text-align: center;
}

.wrap {
  display: flex;
  justify-content: center;
}

.button {
  background: #1AAB8A;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 400ms ease all;
  outline:none;
  margin-left: 50px;
  margin-right: 50px;
}

.button:hover {
  background: #fff;
  color: #1AAB8A;
}

.button:before,
.button:after {
  content:'';
  position: absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition: 200ms ease all;
}


.button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.button:hover:before,
.button:hover:after {
  width: 100%;
  transition: 400ms ease all;
}

.button-clear {
  background: #ae0c3a;
}

.button-clear:hover {
  background: #fff;
  color: #ae0c3a;
}

.button-clear:before,
.button-clear:after {
  background:  #ae0c3a;
}

.control-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.label {
  padding-bottom: 5px;
  font-size: 19px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number {
  width: 40px;
  font-size: 19px
}
